{% extends "base.html" %}
{% block title %}Account creation{% endblock %}

{% block content %}
<form action="#" method="post">
    <p>Full name:</p>
    <p><input type="text" name="full_name" minlength="3"></p>
    <p>Username:</p>
    <P><input type="text" name="username" minlength="3"></p>
    <p>password:</p>
    <P><input type="password" name="pass" minlength="8"></p>
    <p>confirm password:</p>
    <P><input type="password" name="pass_verify" minlength="8"></p>
    <p>Contacts:</p>
    <p><input type="text" name="contact1"></p>
    <p><input type="text" name="contact2"></p>
    <p>Email:</p>
    <p><input type="text" name="email"></p>
    <p>Address:</p>
    <p><input type="text" name="address"></p>
	<p><input type="submit" value="submit"></p>
</form>
{% endblock %}