<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>L1</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
  </head>

  <body>
    <a href="#" class="button is-success is-right is-pulled-right">Donate</a>
    <div class="container">
      <div class="block">
        <section class="hero is-info">
          <div class="hero-body">
            <div class="container">
              <h1 class="title">Boomer</h1>
              <h2 class="subtitle">Remover</h2>
            </div>
          </div>
        </section>
      </div>

      <div class="field">
        <label class="label">Name</label>
        <div class="control has-icons-left has-icons-right">
          <input
            class="input is-success"
            type="text"
            placeholder="Name"
            name="name"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <label class="label">Contact Number</label>
        <div class="control has-icons-left has-icons-right">
          <input
            class="input is-success"
            type="tel"
            placeholder="Contact Number"
            name="c_num"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <label class="label">Alternative Contact Number</label>
        <div class="control has-icons-left has-icons-right">
          <input
            class="input is-success"
            type="tel"
            placeholder="Alternative Contact Number"
            name="a_c_num"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input
            class="input is-success"
            type="email"
            placeholder="Email"
            name="email"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <label class="label">Address</label>
        <div class="control has-icons-left has-icons-right">
          <input
            class="input is-success"
            type="text"
            placeholder="Address"
            name="address"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </div>
      </div>
      <div class="block">
        <div id="file_upload" class="file has-name">
            <label class="file-label">
              <input class="file-input" type="file" name="resume">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Upload Elderly concession card
                </span>
              </span>
              <span class="file-name">
                No file uploaded
              </span>
              <script>
                const fileInput = document.querySelector('#file_upload input[type=file]');
                fileInput.onchange = () => {
                  if (fileInput.files.length > 0) {
                    const fileName = document.querySelector('#file_upload .file-name');
                    fileName.textContent = fileInput.files[0].name;
                  }
                }
              </script>
            </label>
          </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Submit</button>
        </div>
        <div class="control">
          <button class="button is-link is-light">Cancel</button>
        </div>
      </div>
    </div>
  </body>
</html>
