<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css" />
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <title>Elderly support- Help center</title>
  <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <!-- Bulma Version 0.8.2-->
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.2/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="../css/forum.css">
</head>

<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    -->
  <nav class="navbar is-white topNav">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="H0.html">
          Elderly Support
        </a>
        <div class="navbar-burger burger" data-target="topNav">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="topNav" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="cover.html">Home</a>
          <a class="navbar-item" href="landing.html">How it works</a>
          <a class="navbar-item" href="blog.html">Our team</a>
          <a class="navbar-item" href="instaAlbum.html">Connect</a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons" formaction="L0.html">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light" formaction="L3.html">
                Log in
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="hero-body">
    <div class="container">
      <div class="column has-text-centered	">
        <h1 class="title is-2 ">
          Help center
        </h1>
        <h5 class="subtitle is-5">
          Search for your question in our FAQ below. If you need further assistance you may submit a request to our
          support team below.
        </h5>
      </div>
    </div>
    <div class="container">
      <hr class="login-hr">
    </div>
    <div class="container">
      <div class="column">
        <h5 class="subtitle is-5">
          Frequently asked questions
        </h5>
      </div>
    </div>
    <div class="container">
      <div class="column">
        Q: Sample qn #1<br>
        A: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dui lorem, sagittis et libero id, vehicula
        iaculis nibh. Morbi varius egestas venenatis. Praesent nec dolor vel turpis semper dignissim eget id justo.
        Proin
        vel elit nec odio varius euismod. Donec vel mi efficitur, dictum lacus eget, placerat leo. Mauris vel eros
        neque.
        Nulla non dui a eros dictum pretium vitae eget dui. Proin mi nunc, tempus sit amet lectus eget, pharetra
        tristique
        risus. Mauris eu quam turpis. Integer a velit ut tortor vestibulum scelerisque non ultrices mauris. Donec
        dignissim id est vel venenatis. Donec sit amet magna quis elit sagittis mollis. Pellentesque pretium dignissim
        ornare.
      </div>
      <div class="column">
        Q: Sample qn #2<br>
        A: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dui lorem, sagittis et libero id, vehicula
        iaculis nibh. Morbi varius egestas venenatis. Praesent nec dolor vel turpis semper dignissim eget id justo.
        Proin
        vel elit nec odio varius euismod. Donec vel mi efficitur, dictum lacus eget, placerat leo. Mauris vel eros
        neque.
        Nulla non dui a eros dictum pretium vitae eget dui. Proin mi nunc, tempus sit amet lectus eget, pharetra
        tristique
        risus. Mauris eu quam turpis. Integer a velit ut tortor vestibulum scelerisque non ultrices mauris. Donec
        dignissim id est vel venenatis. Donec sit amet magna quis elit sagittis mollis. Pellentesque pretium dignissim
        ornare.
      </div>
    </div>
  </div>
  </div>

  <div class="container">
    <hr class="login-hr">
  </div>

  <div class="hero-body">
    <div class="container">
      <div class="column">
        <h5 class="subtitle is-5">
          Cannot find your question? Submit a request!
        </h5>
        <form>
          <div class="field">
            <div class="control">
              <label class="label">Name</label>
              <input class="input" type="text" placeholder="Full name e.g. Lin  Xian" autofocus="">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <label class="label">Email</label>
              <input class="input" type="email" placeholder="Email e.g. linxian@gmail.com">
            </div>
          </div>
          <div class="field">
            <label class="label">Message</label>
            <div class="control">
              <textarea class="textarea" placeholder="Describe your problem"></textarea>
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-primary">Submit</button>
            </div>
            <div class="control">
              <button class="button">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>